<% layout("/layouts/boilerplate") %>



<div class="row mt-3">
    <div class="col-8 offset-2">
    <h1>Add a new Product</h1>
    <form method="POST" action="/admin/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="title" class="form-label">Prduct name</label>
        <input name="listing[name]" value="<%= listing.name %>" type="text" class="form-control" required>
        <div class="valid-feedback">Name looks good</div>
        <div class="invalid-feedback">Please enter a valid Name</div>
    </div>
    <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]" class="form-control" >
    </div> -->
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="grade" class="form-label">Grade</label>
            <select class="form-select" aria-label="Default select example" name="listing[grade]" required>
                <option selected><%= listing.grade %></option>
                <option value="Automatic">Automatic</option>
                <option value="Semi-Automatic">Semi-Automatic</option>
                <option value="Manual">Manual</option>
            </select>
        </div>
        <div class="mb-3 col-md-4">
            <label for="material" class="form-label">Material</label>
            <input name="listing[material]" value="<%= listing.material %>" class="form-control" required>
        </div>
        <div class="mb-3 col-md-4">
            <label for="computerized" class="form-label">Computerized</label>
            <select class="form-select" aria-label="Default select example" name="listing[computerized]">
                <option selected><%= listing.computerized %></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    
<div class="row">
    <div class="mb-3 col-md-4">
        <label for="control" class="form-label">Control System</label>
        <input name="listing[control]" value="<%= listing.control %>" class="form-control" required>
    </div>
    <div class="mb-3 col-md-4">
        <label for="Warranty" class="form-label">Warranty</label>
        <select class="form-select" aria-label="Default select example" name="listing[warranty]" required>
          <option selected><%= listing.warranty %></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value="<%= listing.price %>" class="form-control" required>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-md-4">
        <label for="terms" class="form-label">Payment Terms</label>
        <select class="form-select" aria-label="Default select example" name="listing[terms]">
            <option selected><%= listing.terms %></option>
            <option value="Cash on Delivery (COD)">Cash on Delivery (COD)</option>
            <option value="Prepaid">Prepaid</option>
        </select>
    </div>
    <div class="mb-3 col-md-4">
        <label for="control" class="form-label">Supply Ability</label>
        <input name="listing[ability]" value="<%= listing.ability %>" class="form-control" required>
    </div>
    <div class="mb-3 col-md-4">
        <label for="time" class="form-label">Delivery time</label>
        <input name="listing[time]" value="<%= listing.time %>" class="form-control" required>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-md-4">
        <label for="market" class="form-label">Main Domestic Market</label>
        <input name="listing[market]" value="<%= listing.market %>" class="form-control" required>
    </div>
    <div class="mb-3 col-md-4">
        <label for="usage" class="form-label">Usage</label>
        <input name="listing[usage]" value="<%= listing.usage %>" class="form-control" required>
    </div>
    <div class="mb-3 col-md-4">
        <label for="surface" class="form-label">Surface Treatment</label>
        <input name="listing[surface]" value="<%= listing.surface %>" class="form-control" required>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-md-4">
        <label for="terms" class="form-label">Phase</label>
        <select class="form-select" aria-label="Default select example" name="listing[phase]">
            <option selected><%= listing.phase %></option>
            <option value="Three Phase">Three Phase</option>
            <option value="Two Phase">Two Phase</option>
        </select>
    </div>
    <div class="mb-3 col-md-4">
        <label for="terms" class="form-label">Frequency</label>
        <select class="form-select" aria-label="Default select example" name="listing[frequency]">
            <option selected><%= listing.frequency %></option>
            <option value="50 Hz">50 Hz</option>
            <option value="60 Hz">60 Hz</option>
        </select>
    </div>
    <div class="mb-3 col-md-4">
        <label for="terms" class="form-label">Warranty</label>
        <select class="form-select" aria-label="Default select example" name="listing[warrant]">
            <option selected><%= listing.warrant %></option>
            <option value="1 Year">1 Year</option>
            <option value="2 Year">2 Year</option>
            <option value="3 Year">3 Year</option>
            <option value="4 Year">4 Year</option>
            <option value="5 Year">5 Year</option>
        </select>
    </div>
</div>
 <div class="row">
    <div class="mb-3 col-md-4">
        <label for="control" class="form-label">Power consumption</label>
        <input name="listing[power]" value="<%= listing.power %>" class="form-control" required>
    </div>
    <div class="mb-3 col-md-4">
        <label for="control" class="form-label">Machine weight</label>
        <input name="listing[weight]" value="<%= listing.weight %>" class="form-control" required>
    </div>
    <div class="mb-3 col-md-4">
        <label for="time" class="form-label">Production capacity</label>
        <input name="listing[capacity]" value="<%= listing.capacity %>" class="form-control" required>
    </div>
</div>
<div class="row">
    <div class="mb-3 col-md-4">
        <label for="terms" class="form-label">Automation Grade</label>
        <select class="form-select" aria-label="Default select example" name="listing[automation]">
            <option selected><%= listing.automation %></option>
            <option value="Automatic">Automatic</option>
            <option value="Semi-Automatic">Semi-Automatic</option>
            <option value="Manual">Manual</option>
        </select>
    </div>
    <div class="mb-3 col-md-4">
        <label for="control" class="form-label">Cup Size</label>
        <input name="listing[size]" value="<%= listing.size %>" class="form-control" required>
    </div>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control desc"  required><%= listing.description %></textarea>
</div>
        <button class="btn btn-dark add-btn mt-3">Submit</button>
    </form>
</div>
</div>